<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8"/>
	<title id="pageTitle">Project create</title>
</head>
<body>
	<div th:fragment="content">

		<ol class="breadcrumb">
			<li><a th:href="@{/project/}">Projects</a></li>
			<li class="active">Create project</li>
		</ol>

		<form class="form-horizontal" action="#" th:action="@{/project/add}" th:object="${project}" method="post">
			<fieldset>
			<!-- Form Name -->
			<legend class="text-center">Create project</legend>
			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="name">Name:</label>
			  <div class="col-md-4">
			  <input id="name" th:field="*{name}" placeholder="name" class="form-control input-md" required="" type="text"/>
				  <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></p>
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="description">Description:</label>
			  <div class="col-md-4">
				  <textarea id="description" th:field="*{description}" placeholder="description" class="form-control input-md" required="" type="text" rows="4"></textarea>
				  <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"></p>
			  </div>
			</div>
			
		 	<div class="form-group">
			  <label class="col-md-4 control-label" for="status">Status:</label>
			  <div class="col-md-4">
				  <select class="form-control" id="status" th:field="*{status}">
					<option th:each="status : ${statuses}" th:text="${status}" th:value="${status}"></option>
				  </select>
				  <p th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="error"></p>
			  </div>
			</div> 
			
			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="create"></label>
			  <div class="col-md-4">
			    <button id="create" name="create" class="btn btn-primary" type="submit">create</button>
			  </div>
			</div>
			
			</fieldset>
		</form>
	</div>

	<div th:fragment="footer"></div>
</body>
</html>