<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
	<meta charset="UTF-8"/>
	<title id="pageTitle">Backlog</title>
	<style>
		.container{
			width: 1430px;
		}
	</style>
</head>
<body>	
	<div th:fragment="content">

		<ol class="breadcrumb">
			<li><a th:href="@{/project/}">Projects</a></li>
			<li class="active" th:text="Backlog"></li>
		</ol>

		<h1 class="text-center">Backlog</h1>
		<div class="row">
			<h2>Sprints</h2>
		</div>
		<br/>
		<div class="row">
			<button class="btn btn-success" id="add-sprint">add sprint</button>
			<button class="pull-right btn btn-success" id="add-task">add task</button>
		</div>
		<br/>

		  <table class="table">
		    <thead>
		      <tr>
		        <th>id</th>
		        <th>name</th>
		        <th>goal</th>
		        <th>date start</th>
		        <th>date stop</th>
		        <th>status</th>
		        <th></th>
		        <th></th>
		        <th></th>
		        <th></th>
		      </tr>
		    </thead>
		    <tbody>
			   <tr class="active" th:each="sprint : ${sprints}">
				 <td th:text="${sprint.id}"></td>
				 <td th:text="${sprint.name}"></td>
				 <td th:text="${sprint.goal}"></td>
				 <td th:text="${sprint.dateStart}"></td>
				 <td th:text="${sprint.dateStop}"></td>
				 <td th:text="${sprint.status}"></td>
				 <td></td>
				 <td class="go-to">
					 <a class="btn btn-default" th:href="@{/project/}+${projectId}+@{/sprint/}+${sprint.id}">go to</a>
				 </td>
				 <td class="go-to">
					 <button class="btn btn-primary edit" id="edit-sprint" th:href="@{/project/}+${projectId}+@{/sprint/findOne/}+${sprint.id}">edit</button>
			     </td>
			     <td>
					 <button th:if="${#authentication.principal.username == sprint.user.getUsername() and #authorization.expression('hasRole(''ROLE_DEVELOPER'')')} or ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
							 class="btn btn-danger sprint-delete" th:attr="data-sprint-id=${sprint.id}">delete</button>
			     </td>
				   	<tr th:if="${not #lists.isEmpty(sprint.tasks)}">
				    <th scope="row"></th>
				   		<td colspan="8">
							<table class="table">
								<thead>
									<tr>
										<th>id</th>
										<th>name</th>
										<th>description</th>
										<th>assignee</th>
										<th>estimate</th>
										<th>priority</th>
										<th>parent</th>
										<th>created by</th>
										<th>status</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="task : ${sprint.tasks}" >
										<td th:text="${task.id}"></td>
										<td th:text="${task.name}"></td>
										<td th:text="${task.description}"></td>
										<td th:text="${task.assignee.username}"></td>
										<td th:text="${task.estimate}"></td>
										<td th:text="${task.priority}"></td>
										<td th:text="${task.parentId}"></td>
										<td th:text="${task.createdBy.username}"></td>
										<td th:text="${task.status}"></td>
										<td>
											<button class="btn btn-primary edit-task" th:href="@{/project/}+${projectId}+@{/task/findOne/}+${task.id}"
													th:attr="data-assignee-id=${task.assignee.id}, data-sprint-id=${sprint.id}">edit</button>
										</td>
										<td>
											<button th:if="${#authentication.principal.username == task.createdBy.username and #authorization.expression('hasRole(''ROLE_DEVELOPER'')')}
												  or
												  ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
													class="btn btn-danger task-delete" th:attr="data-task-id=${task.id}">delete</button>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
			   		</tr>
			   </tr>
		    </tbody>
		  </table>

		<!-- Modal add sprint-->
		<div class="modal fade" id="modal-add-sprint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="add-sprint-label">Add sprint</h4>
					</div>
					<div class="modal-body">

						<form id="sprint-form" class="form-horizontal" action="#" th:action="@{/project/}+${projectId}+@{/sprint/add}" th:object="${sprint}" th:method="post">
							<fieldset>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="name">Name:</label>
									<div class="col-md-7">
										<input id="name" th:field="*{name}" placeholder="name" class="form-control input-md" required="" type="text" th:value="${sprint.name}"/>

									</div>
								</div>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="goal">Goal:</label>
									<div class="col-md-7">
										<textarea id="goal" th:field="*{goal}" placeholder="goal" class="form-control input-md" required="" th:value="${sprint.goal}" rows="4"></textarea>

									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label" for="status">Status:</label>
									<div class="col-md-7">
										<select class="form-control" id="status" th:field="*{status}">
											<option th:each="status : ${sprintStatuses}" th:text="${status}" th:value="${status}"
											th:classappend="${sprint.status} == ${status} ? 'active' : '' "></option>
										</select>
									</div>
								</div>

							</fieldset>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="save-sprint">Save</button>
						<button type="button" class="btn btn-primary" id="update-sprint">Update</button>
					</div>
				</div>
			</div>
		</div>


		<!-- Modal add task-->
		<div class="modal fade" id="modal-add-task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="add-task-label">Add task</h4>
					</div>
					<div class="modal-body">

						<form id="task-form" class="form-horizontal" action="#" th:action="@{/project/}+${projectId}+@{/task/add}" th:object="${task}" th:method="post">
							<fieldset>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="name">Name:</label>
									<div class="col-md-7">
										<input id="name" th:field="*{name}" placeholder="name" class="form-control input-md" required="" type="text" th:value="${task.name}"/>

									</div>
								</div>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="description">Description:</label>
									<div class="col-md-7">
										<textarea id="description" th:field="*{description}" placeholder="description" class="form-control input-md" required="" th:value="${task.description}" rows="4"></textarea>

									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label" for="assignee">Assignee:</label>
									<div class="col-md-7">
										<select class="form-control" id="assignee" th:field="*{assignee}">
											<option th:each="user : ${users}" th:text="${user.username}" th:value="${user.id}"></option>
										</select>
									</div>
								</div>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="estimate">Estimate (hour):</label>
									<div class="col-md-7">
										<input id="estimate" th:field="*{estimate}" placeholder="estimate" class="form-control input-md" required="" type="number" th:value="${task.estimate}"/>

									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label" for="priority">Priority:</label>
									<div class="col-md-7">
										<select class="form-control" id="priority" th:field="*{priority}">
											<option th:each="priority : ${taskPriority}" th:text="${priority}" th:value="${priority}"></option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label" for="sprint">Sprint:</label>
									<div class="col-md-7">
										<select class="form-control" id="sprint" th:field="*{sprint}">
											<option th:each="sprint : ${sprints}" th:text="${sprint.name}" th:value="${sprint.id}"
													th:classappend="${sprint} == ${task.sprint} ? 'active' : '' "></option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label" for="status">Status:</label>
									<div class="col-md-7">
										<select class="form-control" id="status" th:field="*{status}">
											<option th:each="status : ${taskStatuses}" th:text="${status}" th:value="${status}"></option>
										</select>
										<br/>
										<a th:href="@{/project/}+${projectId}+@{/task/}" class="center-block view-comment"><h4>view comments</h4></a>
									</div>
								</div>


							</fieldset>
						</form>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="save-task">Save</button>
						<button type="button" class="btn btn-primary" id="update-task">Update</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="footer">
		<script th:inline="javascript">
            /*<![CDATA[*/

            var projectPath = [[${projectPath}]];

            var urlSaveSprint = [[${urlSaveSprint}]];
            var urlDeleteSprint = [[${urlDeleteSprint}]];
            var urlUpdateSprint = [[${urlUpdateSprint}]];

            var urlSaveTask = [[${urlSaveTask}]];
            var urlUpdateTask = [[${urlUpdateTask}]];
            var urlDeleteTask = [[${urlDeleteTask}]];

            /*]]>*/
		</script>
		<script type="text/javascript" th:src="@{/js/backlog/backlog.js}"></script>
		<script type="text/javascript" th:src="@{/js/sprint/task.js}"></script>
	</div>
</body>
</html>