<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<meta charset="UTF-8"/>
	<title id="pageTitle">Users list</title>
</head>
<body>	
	<div th:fragment="content">
		<div class="row">
			<div class="col-lg-6">
				<h1>Users</h1>
			</div>
			<div class="col-lg-6">
				<h3 class="pull-right"><a th:href="@{/secured/user/add}">add user</a></h3>
			</div>
		</div>

		<div th:if="${statement}" class="alert alert-success">
			<strong th:text="${statement}"></strong>
		</div>

		  <table class="table">
		    <thead>
		      <tr>
		        <th>id</th>
		        <th>username</th>
		        <th>email</th>
		        <th>enable</th>
		        <th></th>
		      </tr>
		    </thead>
		    <tbody>
			   <tr th:each="user : ${users}">
		         <td th:text="${user.id}"></td>
		         <td th:text="${user.username}"></td>
		         <td th:text="${user.email}"></td>
		         <td>
					 <a th:class="${user.enable == true} ? 'btn btn-success' : 'btn btn-warning'"
						th:classappend="${#authentication.getName() == user.getUsername()} ? 'disabled' : ''"
						th:href="@{/secured/user/update/status/}+${user.id}"
						th:text="${user.enable == true} ? 'enable' : 'disable'"></a>
				 </td>
		         <td>
		         	<a class="btn btn-primary" th:href="@{/secured/user/update/}+${user.id}" th:if="${#authentication.getName() != user.getUsername()}">edit</a>
		         </td>
			   </tr>
		    </tbody>
		  </table>
		  		  
		  <ul class="nav nav-pills">
		  	<li class="nav-item" th:each="i : ${#numbers.sequence(1, users.totalPages)}"
		  	 th:classappend="${currentPage} == ${i} ? 'active' : '' ">
		  		<a th:href="@{/secured/user/(page=${i})}" class="nav-link" th:text="${i}"></a>
		  	</li>
		  </ul>
	</div>
</body>
</html>