<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:fragment="head">
        <meta charset="UTF-8"/>
        <title id="pageTitle">Sprint</title>
    </head>
    <body>
        <div th:fragment="content">

            <ol class="breadcrumb">
                <li><a th:href="@{/project/}">Projects</a></li>
                <li><a th:href="@{/backlog/project/}+${projectId}">Backlog</a></li>
                <li class="active" th:text="'Sprint: ' + ${sprint.name}"></li>
            </ol>

            <h1 th:text="'Sprint: ' + ${sprint.name}" class="text-center"></h1>
            <div class="row">
                <button class="pull-right btn btn-success" id="add-task">add task</button>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>To do</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="task : ${tasks}">
                            <td th:if="${task.status.name()} == 'TO_DO'">
                            <!--<td>-->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <p th:text="${task.name}"></p>
                                        <a class="IN_PROGRESS" th:attr="data-id=${task.id}">IN_PROGRESS</a>
                                        <a class="DONE" th:attr="data-id=${task.id}">DONE</a>
                                    </div>
                                    <div class="panel-body">
                                        <p th:text="${task.description}"></p>
                                        <a th:href="@{/project/}+${projectId}+@{/task/}+${task.id}" class="btn btn-primary">edit</a>
                                        <button th:if="${#authentication.principal.username == task.createdBy.username and #authorization.expression('hasRole(''ROLE_DEVELOPER'')')}
												  or
												  ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                                class="btn btn-danger task-delete" th:attr="data-task-id=${task.id}">delete</button>
                                        <div th:if="${task.taskComments.size() > 0}" class="pull-right counter text-center" th:text="${task.taskComments.size()}" title="the number of comments"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>In progress</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="task : ${tasks}">
                            <td th:if="${task.status.name()} == 'IN_PROGRESS'">
                                <!--<td>-->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <p th:text="${task.name}"></p>
                                        <a class="TO_DO" th:attr="data-id=${task.id}">TO_DO</a>
                                        <a class="DONE" th:attr="data-id=${task.id}">DONE</a>
                                    </div>
                                    <div class="panel-body">
                                        <p th:text="${task.description}"></p>
                                        <!--<button class="btn btn-primary edit-task" th:href="@{/project/}+${projectId}+@{/task/}+${task.id}">edit</button>-->
                                        <a th:href="@{/project/}+${projectId}+@{/task/}+${task.id}" class="btn btn-primary">edit</a>
                                        <button th:if="${#authentication.principal.username == task.createdBy.username and #authorization.expression('hasRole(''ROLE_DEVELOPER'')')}
												  or
												  ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                                class="btn btn-danger task-delete" th:attr="data-task-id=${task.id}">delete</button>
                                        <div th:if="${task.taskComments.size() > 0}" class="pull-right counter text-center" th:text="${task.taskComments.size()}" title="the number of comments"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Done</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="task : ${tasks}">
                            <td th:if="${task.status.name()} == 'DONE'">
                                <!--<td>-->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <p th:text="${task.name}"></p>
                                        <a class="TO_DO" th:attr="data-id=${task.id}">TO_DO</a>
                                        <a class="IN_PROGRESS" th:attr="data-id=${task.id}">IN_PROGRESS</a>
                                    </div>
                                    <div class="panel-body">
                                        <p th:text="${task.description}"></p>
                                        <!--<button class="btn btn-primary edit-task" th:href="@{/project/}+${projectId}+@{/task/}+${task.id}">edit</button>-->
                                        <a th:href="@{/project/}+${projectId}+@{/task/}+${task.id}" class="btn btn-primary">edit</a>

                                        <button th:if="${#authentication.principal.username == task.createdBy.username and #authorization.expression('hasRole(''ROLE_DEVELOPER'')')}
												  or
												  ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                                class="btn btn-danger task-delete" th:attr="data-task-id=${task.id}">delete</button>
                                        <div th:if="${task.taskComments.size() > 0}" class="pull-right counter text-center" th:text="${task.taskComments.size()}" title="the number of comments"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="modal fade" id="modal-add-task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="add-task-label">Add task</h4>
                        </div>
                        <div class="modal-body">

                            <form id="task-form" class="form-horizontal" action="#" th:action="@{/project/}+${projectId}+@{/task/add}" th:object="${task}" th:method="post">
                                <fieldset>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="name">Name:</label>
                                        <div class="col-md-7">
                                            <input id="name" th:field="*{name}" placeholder="name" class="form-control input-md" required="" type="text" th:value="${task.name}"/>

                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="description">Description:</label>
                                        <div class="col-md-7">
                                            <textarea id="description" th:field="*{description}" placeholder="description" class="form-control input-md" required="" type="text" th:value="${task.description}" rows="4"></textarea>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="status">Assignee:</label>
                                        <div class="col-md-7">
                                            <select class="form-control" id="user" th:field="*{assignee}">
                                                <option th:each="user : ${users}" th:text="${user.username}" th:value="${user.id}"
                                                        th:classappend="${user} == ${task.createdBy} ? 'active' : '' "></option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="estimate">Estimate (hour):</label>
                                        <div class="col-md-7">
                                            <input id="estimate" th:field="*{estimate}" placeholder="estimate" class="form-control input-md" required="" type="number" th:value="${task.estimate}"/>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="priority">Priority:</label>
                                        <div class="col-md-7">
                                            <select class="form-control" id="priority" th:field="*{priority}">
                                                <option th:each="priority : ${taskPriority}" th:text="${priority}" th:value="${priority}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="sprint">Sprint:</label>
                                        <div class="col-md-7">
                                            <select class="form-control" id="sprint" th:field="*{sprint}">
                                                <option th:each="sprint : ${sprints}" th:text="${sprint.name}" th:value="${sprint.id}"
                                                        th:classappend="${sprint} == ${task.sprint} ? 'active' : '' "></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="status">Status:</label>
                                        <div class="col-md-7">
                                            <select class="form-control" id="status" th:field="*{status}">
                                                <option th:each="status : ${taskStatuses}" th:text="${status}" th:value="${status}"
                                                        th:classappend="${sprint.status} == ${status} ? 'active' : '' "></option>
                                            </select>
                                        </div>
                                    </div>


                                </fieldset>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="save-task">Save</button>
                            <button type="button" class="btn btn-primary" id="update-task">Update</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div th:fragment="footer">
            <script th:inline="javascript">
                /*<![CDATA[*/

                var urlUpdateTaskStatus = [[${urlUpdateTaskStatus}]];
                var urlSaveTask = [[${urlSaveTask}]];
                var urlUpdateTask = [[${urlUpdateTask}]];
                var urlDeleteTask = [[${urlDeleteTask}]];
                var sprintId = [[${sprintId}]];

                /*]]>*/
            </script>

            <script type="text/javascript" th:src="@{/js/sprint/sprint.js}"></script>
            <script type="text/javascript" th:src="@{/js/sprint/task.js}"></script>
        </div>

        <div th:fragment="footer"></div>
    </body>
</html>