<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
<link rel="stylesheet" th:href="@{/css/main.css}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"/>
<head th:include="${view} :: head">
  <meta charset="UTF-8"/>
  <title th:include=":: #pageTitle">Base</title>

</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" th:href="@{/project/}">Task manager</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li th:class="${view} == 'user/user_list' ? 'active' + ''" sec:authorize="hasRole('ROLE_ADMIN')">
          <a th:href="@{/secured/user/}">users <span class="sr-only">(current)</span>
          </a>
        </li>
        <li th:class="${view} == 'project/project_list' ? 'active' + ''">
          <a th:href="@{/project/}">projects <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <p class="navbar-text">Logged user: <span sec:authentication="name"></span></p>
        <p class="navbar-text">Roles: <span sec:authentication="principal.authorities"></span></p>
        <li><a th:href="@{/logout}">logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div class="container">
    <div th:replace="${view} :: content"> </div>
  </div>

  <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script th:src="@{/js/base/base.js}"></script>
  <!-- Latest compiled and minified JavaScript -->
  <br/><br/>
  <div class="footer"><strong>TaskManager</strong> © 2018 Created by <strong>Marcin Jendrasik</strong>
    <div th:replace="${view} :: footer"></div>
  </div>

</body>
</html>