<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <br/>
            <br/>
            <h5><strong>ADMIN</strong></h5>
            <p><strong>login: </strong>admin</p>
            <p><strong>password: </strong>7NKj>!R"}</p>
            <br/>
            <h5><strong>DEVELOPER</strong></h5>
            <p><strong>login: </strong>developer</p>
            <p><strong>password: </strong>q8"c5#GLu</p>
            <br/>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                     alt=""/>
                <br/>
                <form th:action="@{/login}" method="post" class="form-signin">
                    <div th:if="${loginError}" class="alert alert-danger">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success">
                        You have been logged out.
                    </div>
                    <input type="text" id="username" name="username" autofocus="autofocus" class="form-control" placeholder="username"/>
                    <input type="password" id="password" name="password" class="form-control" placeholder="password"/> <br />
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="footer"><strong>TaskManager</strong> © 2018 Created by <strong>Marcin Jendrasik</strong></div>
</body>
</html>